<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SeiyuWatch</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/style.css") %>">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <%=  link "SeiyuWatch", to: page_path(@conn, :index), class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link "声優一覧", to: seiyu_path(@conn, :index), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link "声優追加", to: seiyu_path(@conn, :new), class: "nav-link" %>
          </li>
        </ul>
        <%= form_for @conn, seiyu_path(@conn, :index), [as: :search, method: :get, class: "form-inline my-2 my-lg-0", role: "search"], fn f -> %>
          <%= search_input f, :query, class: "form-control mr-sm-2" %>
          <%= submit "検索", class: "btn btn-secondary my-2 my-sm-0" %>
        <% end %>
      </div>
    </nav>

    <p class="alert alert-primary" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

    <main role="main" data-controller=<%= controller_module(@conn) |> Inflex.underscore |> String.split(~r/\./) |> Enum.at(1) %> data-action=<%= action_name(@conn) %>>
      <%= @inner_content %>
    </main>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">&copy; 2020 <a href="https://twitter.com/h3_poteto">@h3_poteto</a></p>
      </div>
    </footer>


    <script src="https://use.fontawesome.com/8913238b79.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
