// phoenix.cssは参考のために残しておく，利用しない
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootswatch/cosmo/variables';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~bootswatch/cosmo/bootswatch';
@import 'page';
@import 'seiyu';


// bootstrapのstyleではflashの切り替えができないため
.alert:empty {
  display: none;
}

// navbarのmarginが邪魔
nav.navbar {
  margin-bottom: 0;
}

footer.footer {
  margin-top: 60px;
  padding-top: 36px;

  .container {
    text-align: center;
  }
}
