$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootswatch/cosmo/variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~bootswatch/cosmo/bootswatch";
@import "common";
@import "page";
@import "seiyu";


// bootstrapのstyleではflashの切り替えができないため
.alert:empty {
  display: none;
}

// navbarのmarginが邪魔
nav.navbar {
  margin-bottom: 0;
}

footer.footer {
  margin-top: 3.75rem;
  padding-top: 2.25rem;

  .container {
    text-align: center;
  }
}
