main[data-controller="page_controller"][data-action="index"] {

  .top-background {
    background: url("/images/page/main_background.jpg") no-repeat;
    background-size: cover;
    color: #fff;
    height: 35rem;

    .main-title {
      padding-top: 11.25rem;
      @include side-margin-container();

      h1 {
        font-size: 3.5rem;
      }
    }

    .sub-title {
      padding-top: 2.25rem;
      @include side-margin-container();

      h4 {
        font-size: 1.25rem;
      }
    }
  }

  .description {
    .topic {
      @include side-margin-container();
      margin-top: 1.25rem;
      padding-top: 2.25rem;

      .title {
        text-align: center;
        padding-bottom: 4rem;
      }

      .content {
        color: rgb(112, 112, 112);
        .substance {
          padding-bottom: 0.75rem;
        }
      }

      .topic-image {
        width: 100%;
      }
    }
  }

  .description-inverse {
    background: url("/images/page/sub_background.jpg") no-repeat;
    background-size: cover;
    color: #fff;

    .substance {
      padding-bottom: 2rem;
    }

    .topic-image {
      width: 80%;
    }
  }
}
