main[data-controller="page_controller"][data-action="index"] {

  .top-background {
    background: url("/images/page/main_background.jpg") no-repeat;
    background-size: cover;
    color: #fff;
    height: 560px;

    .main-title {
      padding-top: 180px;
      @include side-margin-container();

      h1 {
        font-size: 56px;
      }
    }

    .sub-title {
      padding-top: 36px;
      @include side-margin-container();

      h4 {
        font-size: 20px;
      }
    }
  }

  .description {
    .topic {
      @include side-margin-container();
      padding-top: 38px;
      margin-top: 20px;

      .title {
        text-align: center;
        padding-bottom: 64px;
      }

      .content {
        color: rgb(112, 112, 112);
        padding-bottom: 12px;
      }

      .topic-image {
        width: 100%;
      }
    }
  }

  .description-inverse {
    background: url("/images/page/sub_background.jpg") no-repeat;
    background-size: cover;
    color: #fff;

    .content-inverse {
      padding-bottom: 32px;
    }

    .topic-image {
      width: 80%;
    }
  }
}
