main[data-controller="seiyu_controller"] {
  @include side-margin-container();
}

main[data-controller="seiyu_controller"][data-action="index"] {
  .seiyus-ordered {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .seiyu {
    margin: 3rem auto;
    max-width: 15.5rem;
    width: 80%;

    .panel-body {
      padding: 2.25rem 1rem;

      .seiyu-name {
        margin-bottom: 0.75rem;
        text-align: center;

        .name {
          font-size: 1.125rem;
          font-weight: bold;
        }
      }

      .icon {
        margin: 0 auto;
        text-align: center;

        img {
          width: 5rem;
        }
      }
    }

    .panel-footer {
      a {
        color: rgb(51, 51, 51);
        pointer-events: none;
      }
    }

    .new {
      color: $brand-primary;
      display: inline-block;
      margin-left: 0.5rem;
    }
  }
}

main[data-controller="seiyu_controller"][data-action="show"] {
  $addedline-color: rgb(234, 255, 234);
  $addedchange-color: rgb(166, 243, 166);
  $border-color: rgb(211, 211, 211);
  $deletedline-color: rgb(255, 236, 236);
  max-width: 100%;
  padding: 0 1.75rem;
  width: 100%;

  .wikipedia {
    margin-bottom: 5.75rem;

    .wikipedia-body {
      a {
        color: rgb(51, 51, 51);
        pointer-events: none;
      }
    }
  }

  .table-wrapper {
    margin: 0 -1.75rem;
    overflow: auto;
  }

  @media screen and (min-width: 768px){
    .table-wrapper {
      margin: 0;
    }
  }

  .wikipedia-diff {
    border: 1px solid $border-color;

    .diff-lineno {
      background-color: rgb(247, 247, 247);
      border-left: 1px solid $border-color;
      font-weight: bold;
    }

    .diff-marker {
      border-left: 1px solid $border-color;
    }

    .diff-deletedline {
      background-color: $deletedline-color;
    }

    .diff-addedline {
      background-color: $addedline-color;

      .diffchange-inline {
        background-color: $addedchange-color;
      }
    }
  }
}
