<h2>声優一覧</h2>

<div class="seiyus seiyus-ordered">
  <%= for seiyu <- @seiyus do %>
    <div class="seiyu">
      <%= link seiyu.name, to: seiyu_path(@conn, :show, seiyu) %>
    </div>
  <% end %>
</div>


<%= link "新規追加", to: seiyu_path(@conn, :new), class: "btn btn-primary" %>
