<h2>Show seiyu</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @seiyu.name %>
  </li>

  <li>
    <strong>Add:</strong>
    <%= raw @diff |> elem(1) %>
  </li>

  <li>
    <strong>Sub:</strong>
    <%= raw @diff |> elem(2) %>
  </li>

</ul>

<%= link "Back", to: seiyu_path(@conn, :index) %>
