<h2>Show seiyu</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @seiyu.name %>
  </li>

  <li>
    <strong>Wiki url:</strong>
    <%= @seiyu.wiki_url %>
  </li>

</ul>

<%= link "Edit", to: seiyu_path(@conn, :edit, @seiyu) %>
<%= link "Back", to: seiyu_path(@conn, :index) %>
